
.centerSpiner{
  width: 100%;
  text-align: center;
}
.boss-content-switcher__chapter{
  display: block;
}
.Select-control select {
  height: 50px;
  border: 0;
  padding: 0px 20px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #4c4c4c;
}
.boss-form__error{
  display: none;
};
